@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  @font-face {
    font-family: "yekanbakh";
    font-weight: 400;
    font-style: normal;
    src: url(../fonts/YekanBakh-Regular.woff2);
  }
}
