@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  @font-face {
    font-family: "yekanbakh";
    font-weight: 400;
    font-style: normal;
    src: url(../fonts/YekanBakh-Regular.woff2);
  }
}

@layer components {
  /* Hamburger Icon */
  .custom-divider::before {
    @apply absolute content-[''] right-0 top-0 translate-y-2 w-8 h-[3px] bg-gray-500 transition-all duration-300 ease-in-out;
  }

  /* Hamburger Icon */
  .custom-divider::after {
    @apply absolute content-[''] right-0 top-0 -translate-y-2 w-8 h-[3px] bg-gray-500 transition-all duration-300 ease-in-out;
  }

  /* Toggle State */
  .custom-divider.custom-divider--toggle {
    @apply bg-transparent;
  }

  /* Toggle Line */
  .custom-divider.custom-divider--toggle::before {
    @apply rotate-45 -translate-y-0 translate-x-[3px];
  }

  /* Toggle Line */
  .custom-divider.custom-divider--toggle::after {
    @apply -rotate-45 -translate-y-0 translate-x-[3px];
  }

  /* Menu Underline */
  .menu__before::after {
    @apply absolute content-[""] bottom-0 left-0 right-0  translate-y-[2px] h-[3px] rounded-3xl scale-x-0  transition-all duration-300 ease-out origin-center;
  }

  /* Menu Hover */
  .menu__before:hover::after {
    @apply bg-brand scale-x-100;
  }

  /* Plus Icon */
  .pluse::after {
    @apply absolute top-1 left-0 w-4 h-0.5 content-[''] transition-all duration-300 ease-in-out -translate-x-1/2 -translate-y-1/2 bg-gray-900;
  }

  /* Plus Icon */
  .pluse::before {
    @apply absolute top-1 left-0 w-4 h-0.5 content-[''] transition-all duration-300 ease-in-out -translate-x-1/2 -translate-y-1/2 bg-gray-900;
  }

  /* Active Rotate */
  .pluse::before.active {
    @apply rotate-90;
  }

  /* section hero*/

  /* Swiper Container */
  swiper-container {
    @apply w-full h-full mx-auto;
  }

  /* Swiper Slide */
  swiper-slide {
    @apply text-lg;
  }

  /* Slide Image */
  swiper-slide img {
    @apply block w-full h-full object-cover;
  }

  /* Slide Content */
  .swiper-slide {
    @apply text-lg;
  }

  .border--item::after {
    @apply content-[''] absolute w-[50px] h-[50px] border-[2px] border-brand rounded-full 
           top-1/2 left-1/2 -translate-x-1/2 -translate-y-1/2; /* 👈 کلاس‌های جدید برای مرکزیت */
  }

  /*slider second*/
  .backgrond__image {
    background: url("../images/Orbit.svg");
    background-repeat: no-repeat;
    background-position: center;
  }

  /*border animation*/
  @keyframes spin-around {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(360deg);
    }
  }

  .rotating-border-external::after {
    content: "";
    position: absolute;
    z-index: 0; /* مطمئن شوید زیر آیکون قرار می‌گیرد (در صورت لزوم) */

    /* تنظیم موقعیت و اندازه برای قرار گرفتن در اطراف والد */
    top: -3px;
    left: -3px;
    width: 36px; /* 30px والد + 5px از هر طرف = 40px */
    height: 36px;
    border-radius: 50%;

    /* ایجاد Border چرخشی */
    border: 3px solid transparent;
    border-top-color: #0c0f14;
    /* border-right-color: #0c0f14; */

    /* اعمال انیمیشن چرخش */
    animation: spin-around 3s linear infinite;
  }
}
