@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  @font-face {
    font-family: "yekanbakh";
    font-weight: 400;
    font-style: normal;
    src: url(../fonts/YekanBakh-Regular.woff2);
  }
}

@layer components {
  .custom-divider::before {
    @apply absolute content-[''] right-0 top-0 translate-y-2 w-8 h-[3px] bg-gray-500 transition-all duration-300 ease-in-out;
  }

  .custom-divider::after {
    @apply absolute content-[''] right-0 top-0 -translate-y-2 w-8 h-[3px] bg-gray-500 transition-all duration-300 ease-in-out;
  }

  .custom-divider.custom-divider--toggle {
    @apply bg-transparent;
  }

  .custom-divider.custom-divider--toggle::before {
    @apply rotate-45 -translate-y-0 translate-x-[3px];
  }

  .custom-divider.custom-divider--toggle::after {
    @apply -rotate-45 -translate-y-0 translate-x-[3px];
  }

  .menu__before::after {
    @apply absolute content-[""] bottom-0 left-0 right-0  translate-y-[2px] h-[3px] rounded-3xl scale-x-0  transition-all duration-300 ease-out origin-center;
  }

  .menu__before:hover::after {
    @apply bg-brand scale-x-100;
  }

  .pluse::after {
    @apply absolute top-1 left-0 w-4 h-0.5 content-[''] transition-all duration-300 ease-in-out -translate-x-1/2 -translate-y-1/2 bg-gray-900;
  }
  .pluse::before {
    @apply absolute top-1 left-0 w-4 h-0.5 content-[''] transition-all duration-300 ease-in-out -translate-x-1/2 -translate-y-1/2 bg-gray-900;
  }
  .pluse::before.active {
    @apply rotate-90;
  }
}
